@page
@model MyWayRazor.Pages.Tabelas.Uhs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Uh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Uh.UhId" />
            <div class="form-group">
                <label asp-for="Uh.IATA" class="control-label"></label>
                <input asp-for="Uh.IATA" class="form-control" />
                <span asp-validation-for="Uh.IATA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uh.UhNome" class="control-label"></label>
                <input asp-for="Uh.UhNome" class="form-control" />
                <span asp-validation-for="Uh.UhNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uh.CreatedAt" class="control-label"></label>
                <input asp-for="Uh.CreatedAt" class="form-control" />
                <span asp-validation-for="Uh.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uh.CreatedBy" class="control-label"></label>
                <input asp-for="Uh.CreatedBy" class="form-control" />
                <span asp-validation-for="Uh.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uh.LastUpdatedAt" class="control-label"></label>
                <input asp-for="Uh.LastUpdatedAt" class="form-control" />
                <span asp-validation-for="Uh.LastUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uh.LastUpdatedBy" class="control-label"></label>
                <input asp-for="Uh.LastUpdatedBy" class="form-control" />
                <span asp-validation-for="Uh.LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
