@page
@model MyWayRazor.Pages.StagingArea.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Staging</h2>

<h3 class="clearfix">@Model.Message</h3>
