@page
@model MyWayRazor.Pages.Analise.IndexModel
@{
    ViewData["Title"] = "Análise";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="callout callout-success">
            <h2 class="text-center text-bold">Daily Planning Tool</h2>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                        TERMINAL
                    </h4>
                    <div class="media">
                        <div class="col-sm-3 col-md-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>PMR</h3>

                                    <p>Total Horário</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-fw fa-wheelchair"></i>
                                </div>
                                <a asp-page="/Analise/PmrTerminal" class="small-box-footer">
                                    Ver <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>Voos</h3>

                                    <p>Total Horário</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-fw fa-plane"></i>
                                </div>
                                <a asp-page="/Analise/VooTerminal" class="small-box-footer">
                                    Ver <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                        LADO AR
                    </h4>
                    <div class="media">
                        <div class="col-sm-3 col-md-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>PMR</h3>

                                    <p>Total Horário</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-fw fa-wheelchair"></i>
                                </div>
                                <a asp-page="/Analise/PmrRemoto" class="small-box-footer">
                                    Ver <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>Voos</h3>

                                    <p>Total Horário</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-fw fa-plane"></i>
                                </div>
                                <a asp-page="/Analise/VooRemoto" class="small-box-footer">
                                    Ver <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>