@page
@model MyWayRazor.Pages.Analise.PmrRemotoModel

@{
    ViewData["Title"] = "PmrTerminal";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    #region variables

    var Today = DateTime.UtcNow.Day;

    int[] dataHour = Model.AssistenciasPRMs.Where(d => d.Data.Day == Today).Select(h => h.Data.Hour).Distinct().ToArray();
    int[] estimaHour = Model.AssistenciasPRMs.Where(d => d.Data.Day == Today).Select(h => h.EstimaApresentacao.Hour).Distinct().ToArray();
    int[] embarqueHour = Model.AssistenciasPRMs.Where(d => d.Data.Day == Today).Select(h => h.HoraEmbarque.Hour).Distinct().ToArray();
    int[] tempArr = dataHour.Union(estimaHour).ToArray();
    int[] Hours = tempArr.Union(embarqueHour).ToArray();

    Array.Sort(Hours);

    #endregion

}

<section class="content">
    <div class="callout callout-info">
        <div class="carousel"><h2>Comming soon</h2></div>
    </div>
</section>
@section Scripts
    {
    <script type="text/javascript">

    </script>
}