@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2></h2>
        <ul>
            @*<li><a asp-page="/Colaborador/Index">Colaboradores</a></li>*@
            @*<li><a asp-page="/Tabelas/Uhs/Index">UH</a></li>*@
        </ul>
    </div>
</div>