@page
@model MyWayRazor.Pages.Tabelas.Formacoes.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row col-md-8 col-sm-push-2">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-header">
                <h3 class="box-title"> <a asp-page="Index">Voltar à listagem</a></h3>
            </div>
            <!-- /.box-body -->
            <div class="box-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Formacao.FormacaoId" />
                    <div class="form-group">
                        <label asp-for="Formacao.FormacaoNome" class="control-label"></label>
                        <input asp-for="Formacao.FormacaoNome" class="form-control" />
                        <span asp-validation-for="Formacao.FormacaoNome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Formacao.FormacaoCod" class="control-label"></label>
                        <input asp-for="Formacao.FormacaoCod" class="form-control" />
                        <span asp-validation-for="Formacao.FormacaoCod" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Formacao.FormacaoValidade" class="control-label"></label>
                        <input asp-for="Formacao.FormacaoValidade" class="form-control" />
                        <span asp-validation-for="Formacao.FormacaoValidade" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Gravar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
