<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Recursos Humanos</li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Colaboradores</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-page="/Colaboradores/Index">Listagem</a></li>
                    <li><a asp-page="/Colaboradores/Create">Criar Colaborador</a></li>
                </ul>
            </li>
            <li class="header">Análises</li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Análise</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-page="/Upload/Index">Upload Excel</a></li>
                    <li><a asp-page="/Analise/Index">Análise</a></li>
                    <li><a asp-page="/Analise/Diario">Análise Diária</a></li>
                </ul>
            </li>
            <li class="header">To-Do List</li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-link"></i> <span>To-Do</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-page="/ToDoList/Index">Listagem</a></li>
                    <li><a asp-page="/ToDoList/Create">Criar Tarefa</a></li>
                </ul>
            </li>
            @*<li class="header">Gestão de Recursos</li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Staging</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-page="/StagingArea/Index">Staging Area</a></li>
                    <li><a asp-page="/StagingArea/Create">Gerir</a></li>
                </ul>
            </li>*@
        </ul>
            <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>