@page
@model MyWayRazor.Pages.Colaboradores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Colaborador.ColaboradorID" />
            <div class="form-group">
                <label asp-for="Colaborador.UhId" class="control-label"></label>
                <select asp-for="Colaborador.UhId" class="form-control" asp-items="ViewBag.UhId"></select>
                <span asp-validation-for="Colaborador.UhId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.DepartamentoId" class="control-label"></label>
                <select asp-for="Colaborador.DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId"></select>
                <span asp-validation-for="Colaborador.DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.NumCartao" class="control-label"></label>
                <input asp-for="Colaborador.NumCartao" class="form-control" />
                <span asp-validation-for="Colaborador.NumCartao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.NumPw" class="control-label"></label>
                <input asp-for="Colaborador.NumPw" class="form-control" />
                <span asp-validation-for="Colaborador.NumPw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Nome" class="control-label"></label>
                <input asp-for="Colaborador.Nome" class="form-control" />
                <span asp-validation-for="Colaborador.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.FuncaoId" class="control-label"></label>
                <select asp-for="Colaborador.FuncaoId" class="form-control" asp-items="ViewBag.FuncaoId"></select>
                <span asp-validation-for="Colaborador.FuncaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.EquipaId" class="control-label"></label>
                <select asp-for="Colaborador.EquipaId" class="form-control" asp-items="ViewBag.EquipaId"></select>
                <span asp-validation-for="Colaborador.EquipaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.CategoriaId" class="control-label"></label>
                <select asp-for="Colaborador.CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="Colaborador.CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.HorarioPraticadoId" class="control-label"></label>
                <input asp-for="Colaborador.HorarioPraticadoId" class="form-control" />
                <span asp-validation-for="Colaborador.HorarioPraticadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.HorarioContratadoId" class="control-label"></label>
                <input asp-for="Colaborador.HorarioContratadoId" class="form-control" />
                <span asp-validation-for="Colaborador.HorarioContratadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.DataAdmissão" class="control-label"></label>
                <input asp-for="Colaborador.DataAdmissão" class="form-control" />
                <span asp-validation-for="Colaborador.DataAdmissão" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.DataFim" class="control-label"></label>
                <input asp-for="Colaborador.DataFim" class="form-control" />
                <span asp-validation-for="Colaborador.DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.ContratoId" class="control-label"></label>
                <select asp-for="Colaborador.ContratoId" class="form-control" asp-items="ViewBag.ContratoId"></select>
                <span asp-validation-for="Colaborador.ContratoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.StatusId" class="control-label"></label>
                <select asp-for="Colaborador.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Colaborador.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.CreatedAt" class="control-label"></label>
                <input asp-for="Colaborador.CreatedAt" class="form-control" />
                <span asp-validation-for="Colaborador.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.CreatedBy" class="control-label"></label>
                <input asp-for="Colaborador.CreatedBy" class="form-control" />
                <span asp-validation-for="Colaborador.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.LastUpdatedAt" class="control-label"></label>
                <input asp-for="Colaborador.LastUpdatedAt" class="form-control" />
                <span asp-validation-for="Colaborador.LastUpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.LastUpdatedBy" class="control-label"></label>
                <input asp-for="Colaborador.LastUpdatedBy" class="form-control" />
                <span asp-validation-for="Colaborador.LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
